{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile Details
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile-details.css' %}">
{% endblock %}

{% block content %}

<div class="header">
    {# TODO: VERIFY IF WORKS#}
    {% if request.user.get_full_name %}
        <h1 class="header-title">{{ request.user.username }}'s profile</h1>
    {% else %}
        <h1 class="header-title">{{ request.user.username }}'s profile</h1>
    {% endif %}

</div>
<section class="order-history">
    {# TODO:ORDERS #}
  <h2 class="order-history-title">Last order</h2>
  <table class="order-history-table">
    <thead>
      <tr>
        <th>Поръчка №</th>
        <th>Дата на поръчка</th>
        <th>Сума</th>
        <th>Статус на поръчката</th>
        <th>Подробности</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BGM000822474</td>
        <td>25.01.2024</td>
        <td>170,34 лв</td>
        <td>Изпратено</td>
        <td><a href="#" class="order-details-link">Виж подробностите</a></td>
      </tr>
      <!-- Additional order history rows can go here -->
    </tbody>
  </table>
    <a href="#" class="view-all-orders-button">View All Orders</a>
</section>
    <div class="separator"></div>
<section class="profile-info">
  <h2 class="profile-info-title">My data</h2>
  <div class="profile">
    <h3 class="shipping-address-title">Personal details</h3>
  {% if request.user.get_full_name %}
      <p class="shipping-address-info"><b>{{ request.user.get_full_name}}</b></p>
    {% endif %}
    {% if request.user.email %}
      <p class="profile-email">Email: <b>{{ request.user.email }}</b></p>
    {% endif %}
    {% if request.user.phone_number %}
      <p class="profile-phone">Phone: <b>{{ request.user.phone_number }}</b></p>
    {% endif %}
    {% if request.user.date_of_birth %}
      <p class="profile-dob">Date of Birth: <b>{{ request.user.date_of_birth }}</b></p>
    {% endif %}
    <p class="profile-verification-status">Confirmed verification</p>
    <a href="{% url 'edit user profile' pk=request.user.pk %}" class="profile-edit-link">Change the profile data</a>
  </div>
  {% if request.user.address %}
    <div class="shipping-address">
  <h3 class="shipping-address-title">Delivery address</h3>
  {% if request.user.address %}
    <p class="shipping-address-info">Address: <b>{{ request.user.address }}</b></p>
  {% endif %}
  {% if request.user.city %}
    <p class="shipping-address-info">City: <b>{{ request.user.city }}</b></p>
  {% endif %}
  {% if request.user.postal_code %}
    <p class="shipping-address-info">Postal code: <b>{{ request.user.postal_code }}</b></p>
  {% endif %}
  <p class="shipping-address-info">Country: <b>Bulgaria</b></p>
</div>

  {% endif %}
</section>



{% endblock %}