{% extends 'base.html' %}
{% load static %}
{% load account_tags %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login-register">
        <div class="login-box" style="{{ 'margin:50px' }}">
            <form method="post" action="{% url 'register' %}">
                {{ form.username.errors }}
                {{ form.username|placeholder:'Username' }}
                {{ form.email.errors }}
                {{ form.email|placeholder:'Email' }}
                {{ form.password1.errors }}
                {{ form.password1|placeholder:'Enter password' }}
                {{ form.password2.errors }}
                {{ form.password2|placeholder:'Confirm password' }}
                {{ form.non_field_errors }}
                <input type="hidden" value="{{ next_page }}" name="next"/>
                {% csrf_token %}

                <button type="submit">Register</button>
            </form>
        </div>
        <div class="register-box">
            <p>You already have registration?</p>
            <button><a href="{% url 'login' %}" style="{{ 'color:white' }}">Sign in</a></button>
        </div>
    </div>
{% endblock %}