.login-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

.login-box,
.register-box {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"],
input[type="password"],
input[type='email']{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-register button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: #db4f66;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-register button:hover {
    background-color: #d57887;
}