.wrapper-news {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container-news {
    margin: 100px auto;
    padding: 50px;
    width:80%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.container-news ul {
    list-style: none;
    padding: 0;
}
.container-news li:before {
    content: '\2605'; /* Unicode for star icon */
    color: #f0c419; /* Star icon color */
    margin-right: 5px; /* Adjust spacing between icon and text */
}
.content {
  margin-bottom: 20px;
}

.email {
  color: #ff4d4d;
  font-size: 20px;
}

.unsubscribe-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
