.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.search-form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    outline: none;
    width: 50vw
}

.search-form button {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 10px; /* Adjust margin as needed */
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
}

/* Optional: Hover and focus styles */
.search-form input[type="text"]:hover,
.search-form input[type="text"]:focus,
.search-form button:hover,
.search-form button:focus {
    border-color: #999;
}

.errorlist {
    position: absolute;
    top: 220px;
    left: 560px;
    padding: 0;
    list-style-type: none;
    color: red;
}


.box {
  position: relative;
}

.buttons-like-cart {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.box:hover .buttons-like-cart {
  opacity: 1; /* Show buttons on hover */
}

.cart-btn,
.heart-btn {
  background-color: transparent;
  border: none;
  color: #000; /* Button color */
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  transition: color 0.3s ease;
}

.cart-btn a svg:hover,
.heart-btn a svg:hover {
  color: #db4f66;
}



