{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ cloth.name }}
{% endblock %}

{% block content %}
  <h1 class="name">{{ cloth.name }}</h1>
  <div class="product-details-container">
    <div class="product-images">
        <div class="image-grid">
          <img src="{{ cloth.photo.url }}" alt="Product Image">
          <img src="{{ cloth.photo_2.url }}" alt="Product Image">
          <img src="{{ cloth.photo_3.url }}" alt="Product Image">
          <img src="{{ cloth.photo_4.url }}" alt="Product Image">
          <img src="{{ cloth.photo_5.url }}" alt="Product Image">
          <img src="{{ cloth.photo_6.url }}" alt="Product Image">
        </div>
    </div>
    <div class="product-info">
    {% if cloth.description %}
        <p class="product-description">{{ cloth.description }}</p>
      {% endif %}
      <hr>
      <p class="product-description">Type: {{ cloth.get_type_display }}</p>
      {% if cloth.material %}
        <p class="product-description">Material: {{ cloth.material }}</p>
      {% endif %}
      <p class="product-description">Color: {{ cloth.color }}</p>
      <hr>
      <h1>Price: {{ cloth.price }} BGN</h1>
    <hr>
      {% if user.is_authenticated %}
        <form id="add-to-cart-form" method="post" action="{% url 'add to cart' pk_cloth=cloth.pk %}" style="{{ 'display:inline-block' }}">
          <p class="product-size">Available sizes:
            <select class="size-dropdown" name="size" id="size-dropdown">
              <option value="" disabled selected>Select a size:</option>
              {% if cloth.stocked_S %}
                <option value="S">S</option>
              {% endif %}
              {% if cloth.stocked_M %}
                <option value="M">M</option>
              {% endif %}
              {% if cloth.stocked_L %}
                <option value="L">L</option>
              {% endif %}
            </select>
          </p>
          <input type="hidden" name="size" id="selected-size">
          {% csrf_token %}
          <button type="submit" class="cart-order-button" id="add-to-cart-btn" style="{{ 'color:gray; background-color:#f9ece6; width:90%' }}" disabled>Add to Cart</button>
        </form>
        <button id='like-button' class="cart-order-button" style="{{ 'color:gray; background-color:#f9ece6; display:inline-block; width:45%' }}" onmouseover="{{ 'background-color:pink' }}">
          <a href="{%  url 'like' pk_cloth=cloth.pk %}" style="{{ 'color:gray' }}">
            {% if request.session.is_liked %}
              Remove from wishlist
            {% else %}
              Like
            {% endif %}
          </a>
        </button>
      {% endif %}
        {% if request.user.is_authenticated and request.user.is_staff %}
            <hr>
            <div class="btn-box cart-order-button centered text-center"  style="width:100%">
              <a href="{% url 'update cloth' pk=cloth.pk %}" class="text-center text-white centered">
                Update Availability
              </a>
            </div>
       {% else %}
            <div class="container">
        <div class="info-line">
          <span class="icon">&#128073;</span>
          <p>Expect your product to arrive in 3-5 working days.</p>
        </div>
        <div class="info-line">
          <span class="icon">&#127968;</span>
          <p>You get free delivery to your home or courier office of your choice.</p>
        </div>
        <div class="info-line">
          <span class="icon">&#128197;</span>
          <p>You can return the product in the next 100 days for free.</p>
        </div>
      </div>
        {% endif %}
    </div>
  </div>

  {% if user.is_authenticated and previously_viewed_clothes%}
    <h2 class="text-center layout_padding2-bottom">Previously viewed items</h2>
    <div class="row" style="{{ 'justify-content:center; ' }}">
      {% for cloth in previously_viewed_clothes %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box layout_padding2-bottom text-center">
            <a href="{% url 'show product details' cloth.pk %}" id="current-{{ cloth.id }}">
              <div class="img-box" style="{{ 'max-height:275px; padding:0px' }}">
                {% if cloth.photo %}
                  <img src="{{ cloth.photo.url }}" alt="" style="{{ 'max-height:275px' }}">
                {% endif %}
              </div>
              <div class="detail-box recently-viewed-text">
                <h6>{{ cloth.name }}</h6>
                <h6>PRICE<span> {{ cloth.price }} BGN</span>
                </h6>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sizeDropdown = document.getElementById('size-dropdown');
        var selectedSizeInput = document.getElementById('selected-size');
        var addToCartBtn = document.getElementById('add-to-cart-btn');

        sizeDropdown.addEventListener('change', function() {
            if (sizeDropdown.value !== "") {
                addToCartBtn.removeAttribute('disabled');
                selectedSizeInput.value = sizeDropdown.value;
            } else {
                addToCartBtn.setAttribute('disabled', 'disabled');
                selectedSizeInput.value = '';
            }
        });

        if (sizeDropdown.value === "") {
            addToCartBtn.setAttribute('disabled', 'disabled');
        }
    });
</script>

{% endblock %}
