{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ cloth.name }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/product-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/view-cart.css' %}">
{% endblock %}

{% block content %}
<h1 class="name">{{ cloth.type }}</h1>

<div class="product-details-container">
    <div class="product-images">
        <div class="image-grid">
            <img src="{{ cloth.photo.url }}" alt="Product Image">
{#            TODO: MAKE BETTER LAYOUT #}
        </div>
    </div>
    <div class="product-info">
        <h2 class="product-name">{{ cloth.name }}</h2>
        <hr>
        <p class="product-description">Type: {{ cloth.type }}</p>
        {% if cloth.description %}
        <p class="product-description">{{ cloth.description }}</p>
        {% endif %}
        {% if cloth.material %}
        <p class="product-description">Material: {{ cloth.material }}</p>
        {% endif %}
        <p class="product-description">Color: {{ cloth.color }}</p>
        <hr>
        <h1>Price: {{ cloth.price }} BGN</h1>
        <hr>
        <form id="add-to-cart-form" method="post" action="{% url 'add to cart' pk_cloth=cloth.pk %}" style="{{ 'display:inline-block' }}">
            <p class="product-size">Available sizes:
                <select class="size-dropdown" name="size" id="size-dropdown">
                    <option value="" disabled selected>Select a size:</option>
                    {% if cloth.stocked_S %}
                    <option value="S">S</option>
                    {% endif %}
                    {% if cloth.stocked_M %}
                    <option value="M">M</option>
                    {% endif %}
                    {% if cloth.stocked_L %}
                    <option value="L">L</option>
                    {% endif %}
                </select>
            </p>
            <input type="hidden" name="size" id="selected-size">
            {% csrf_token %}
            <button type="submit" class="cart-order-button" id="add-to-cart-btn" style="{{ 'color:gray; background-color:#f9ece6; width:90%' }}" disabled>Add to Cart</button>
        </form>
        <button id='like-button' class="cart-order-button" style="{{ 'color:gray; background-color:#f9ece6; display:inline-block; width:45%' }}">
            <a href="{%  url 'like' pk_cloth=cloth.pk %}" style="{{ 'color:gray' }}">
                {% if request.session.is_liked %}
                    Remove from wishlist
                {% else %}
                    Like
                {% endif %}
            </a>
        </button>
        <div class="container">
            <div class="info-line">
                  <span class="icon">&#128073;</span>
                  <p>Expect your product to arrive in 3-5 working days.</p>
                </div>
                <div class="info-line">
                  <span class="icon">&#127968;</span>
                  <p>You get free delivery to your home or courier office of your choice.</p>
                </div>
                <div class="info-line">
                  <span class="icon">&#128197;</span>
                  <p>You can return the product in the next 100 days for free.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var sizeDropdown = document.getElementById('size-dropdown');
        var selectedSizeInput = document.getElementById('selected-size');
        var addToCartBtn = document.getElementById('add-to-cart-btn');

        sizeDropdown.addEventListener('change', function() {
            if (sizeDropdown.value !== "") {
                addToCartBtn.removeAttribute('disabled');
                selectedSizeInput.value = sizeDropdown.value;
            } else {
                addToCartBtn.setAttribute('disabled', 'disabled');
                selectedSizeInput.value = '';
            }
        });

        if (sizeDropdown.value === "") {
            addToCartBtn.setAttribute('disabled', 'disabled');
        }
    });
</script>

{% endblock %}
