{% extends 'base.html' %}
{% load static %}

{% block title %}Shop!{% endblock %}

{% block content %}

  <!-- shop section -->

  <section class="shop_section layout_padding">
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Latest Products
    </h2>
  </div>
  <div class="row">
      {% for cloth in all_clothes %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="{% url 'show product details' cloth.pk %}">
          <div class="img-box">
            <img src="{% static 'images/p1.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              {{ cloth.name }}
            </h6>
            <h6>
                PRICE
              <span>
                {{ cloth.price }} BGN
              </span>
            </h6>
          </div>
          <div class="new">
            <span>
              New
            </span>
          </div>
        </a>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
</section>

  <!-- end shop section -->

{% endblock %}