{% extends 'base.html' %}
{% load static %}

{% block title %}Shop!{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}


{% block content %}

    <form method="POST" class="search-form">
        {% csrf_token %}
        {{ search_form }}
        <button>Search!</button>
    </form>

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            Products
        </h2>
      </div>
      <div class="row">
          {% for cloth in all_clothes %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'show product details' cloth.pk %}" id="current-{{ cloth.id }}">
              <div class="img-box" style="{{ 'max-height:275px; padding:0px' }}">
                <img src="{{ cloth.photo.url }}" alt="" style="{{ 'max-height:100%' }}">
              </div>
              <div class="detail-box">
                <h6>{{ cloth.name }}</h6>
                <h6>PRICE<span>{{ cloth.price }} BGN</span>
                </h6>
              </div>
              <div class="new">
                <span>New</span>
              </div>
            </a>
          <div class="buttons-like-cart">
{#              <button class="cart-btn">#}
{#                  <a  href="{% url 'add to cart' pk_cloth=cloth.pk pk_user=request.user.pk %}">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#                  </a>#}
{#              </button>#}
              <button class="heart-btn">
                  <a href="{% url 'like' pk_cloth=cloth.pk pk_user=request.user.pk %}">
                      <i class="fas fa-heart"></i>
                  </a>
              </button>
            </div>
      </div>
    </div>
{% endfor %}
  </div>
<div style="display: block; text-align: center; margin-top: 30px">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}" style="font-size: 18px; color: black; text-decoration: none;">&lt;</a>
    {% else %}
        <span style="font-size: 18px; color: black;">&lt;</span>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if num == page_obj.number %}
            <span style="font-size: 24px; color: black; font-weight: bold;">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}&search={{ search }}" style="font-size: 18px; color: black; text-decoration: none;">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}" style="font-size: 18px; color: black; text-decoration: none;">&gt;</a>
    {% else %}
        <span style="font-size: 18px; color: black;">&gt;</span>
    {% endif %}
</div>
</div>
</section>

  <!-- end shop section -->

{% endblock %}