.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.content {
  margin-bottom: 20px;
}

.email {
  color: #ff4d4d;
  font-size: 20px;
}

.unsubscribe-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
