.name {
    text-align: center;
    margin: 30px;
}
.product-details-container {
    display: flex;
    align-items: flex-start;
    margin: 30px;
    padding: 100px;
}

.product-images {
    flex: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    margin-left: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px
}

.product-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-size select {
    padding: 5px;
    font-size: 16px;
}

.add-to-cart-button, .like-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px; /* adjust spacing */
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-to-cart-button:hover, .like-button:hover {
    background-color: #45a049;
}
.suggestions {
    text-align: center;
}
.similar-items {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.item {
  margin: 60px;
}

.item img {
  max-width: 100%;
}

.item p {
  margin: 5px 0;
}

.description {
  margin-top: 20px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
}

.info-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}