{% extends 'base.html' %}
{% load static %}

{% block title %}
    Order Preview
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/order-confirm.css' %}">
    <link rel="stylesheet" href="{% static 'css/view-cart.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center layout_padding">
    <h1>Order Confirmed!</h1>
    <hr>
    <h6>Your order has been successfully confirmed:</h6>
    <hr>
    <table class='order-table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price (BGN)</th>
              <th>Quantity</th>
              <th>Size</th>
              <th>Color</th>
            </tr>
          </thead>
          <tbody>
            {% for cart in order.copied_carts.all %}
            <tr>
              <td>{{ cart.cloth.name }}</td>
              <td>{{ cart.subtotal }}</td>
              <td>{{ cart.quantity }}</td>
              <td>{{ cart.size }}</td>
              <td>{{ cart.cloth.color }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    <hr>
    <div class="order-details">
        <h1>Total price: <span class="highlighted">{{ order.price }} BGN</span></h1>
        <p>Order ID: <span class="highlighted">{{ order.pk }}</span></p>
        <p>We will reach you on <span class="highlighted">{{ order.user.email }}</span> or <span class="highlighted">{{ order.phone }}</span></p>
        <p>Estimated delivery: 3-5 days</p>
        {% if order.is_personal_address %}
            <p>To your personal address: <span class="highlighted">{{ order.delivery_address }}, {{ order.city }}, {{ order.postal_code }}</span></p>
        {% else %}
            <p>To delivery office on address: <span class="highlighted">{{ order.delivery_address }}, {{ order.city }}, {{ order.postal_code }}</span></p>
        {% endif %}
    </div>
    <button class="cart-order-button">
        <a href="{% url 'shop' %}" style="{{ 'color:white' }}">
            Continue shopping!
        </a>
    </button>
</div>

{% endblock %}

{##}
{# TODO: ADD DELIVERY COSTS AND AGREE TO TERMS;CSS AND RESPONSIVE..#}
{#FOOTER; LOGIN REQUIRED-TESTIMONIAL;#}
{#ERROR SAFETY; VALIDATION;  #}