{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ cloth.name }}
{% endblock %}

{% block content %}
    <div class="cart-container" style="padding:20px 80px">
        <div class="testimonial-form">
            <h2 class="">Order details</h2>
            <form method="POST" action="{% url 'confirm order' %}">
                {{ form.as_p }}
                {% csrf_token %}
                {% if total_price %}
                    <button type="submit">Submit order data</button>
                {% else %}
                    <button type="submit" disabled>Submit order data</button>
                {% endif %}
            </form>
        </div>
        <ul class='cart-list cart-summary' style="margin-top:80px; text-align:left">
            <h1 class="text-center layout_padding2-top">Items</h1>
            <p class="text-center">Total price of the products:
                <small style="color: #db4f66; font-weight: bold; font-size: 36px;">
                    {% if total_price %}
                        {{ total_price }}
                    {% else %}
                        0
                    {% endif %}
                    BGN
                </small>
            </p>
            {% for cart_item in request.user.cart_set.all %}
                <li class="cart-item">
                    <img src="{{ cart_item.cloth.photo.url }}" alt="Cloth Photo" class="cart-img" style="height:20vh">
                    <div class="cart-info">
                        <h6>{{ cart_item.cloth.name }}</h6>
                        <p>Price for piece: {{ cart_item.cloth.price }} BGN</p>
                        <p>Size: {{ cart_item.size }}</p>
                        <p>Color: {{ cart_item.cloth.color }}</p>
                        <p>Quantity: {{ cart_item.quantity }}</p>
                    </div>
                    <p style="position:relative; top:6vh; left:8vw">Price:
                        <small style="color: #db4f66; font-weight: bold; font-size: larger;">{{ cart_item.subtotal }} BGN</small>
                    </p>
                </li>
            {% endfor %}
        <button class="order-buttons"><a href="{% url 'view cart' %}" style="color:white">Return to cart</a></button>
        </ul>
    </div>

{% endblock %}