{% extends 'base.html' %}
{% load static %}

{% block title %}
    YELL Favourites
{% endblock %}

{% block content %}
<section class="shop_section layout_padding">
    <div class="container">
        <h1 class="text-center">My Liked items</h1>
        <div class="heading_container heading_center" style="flex-direction: row; justify-content: space-around">
            {% for cart_item in object_list %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box" style="height:336px">
                    <a href="{% url 'show product details' cart_item.cloth.pk %}" id="current-{{ cart_item.cloth.id }}">
                        <div class="img-box" style="{{ 'max-height:275px; padding:0px' }}">
                            <img src="{{ cart_item.cloth.photo.url }}" alt="" style="{{ 'max-height:100%' }}">
                        </div>
                        <div class="detail-box">
                            <h6>{{ cart_item.cloth.name }}</h6>
                            <h6>PRICE<span>{{ cart_item.cloth.price }} BGN</span></h6>
                        </div>
                    </a>
                </div>
                <div class="button-container-likes">
                    <form id="add-to-cart-form-{{ cart_item.cloth.id }}" method="post" action="{%  url 'add to cart' pk_cloth=cart_item.cloth.pk %}" class="button-link-likes">
                        <p><label for="size-dropdown-{{ cart_item.cloth.id }}">Select a size:</label>
                            <select class="size-dropdown" name="size" id="size-dropdown-{{ cart_item.cloth.id }}">
                                <option value="" disabled selected>Select Size</option>
                                {% if cart_item.cloth.stocked_S %}
                                    <option value="S">S</option>
                                {% endif %}
                                {% if cart_item.cloth.stocked_M %}
                                    <option value="M">M</option>
                                {% endif %}
                                {% if cart_item.cloth.stocked_L %}
                                    <option value="L">L</option>
                                {% endif %}
                            </select>
                        </p>
                        <input type="hidden" name="size" id="selected-size-{{ cart_item.cloth.id }}">
                        {% csrf_token %}
                        <button type="submit" class="add-to-cart-likes" id="add-to-cart-btn-{{ cart_item.cloth.id }}" disabled>Add to Cart</button>
                    </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                                var sizeDropdown = document.getElementById('size-dropdown-{{ cart_item.cloth.id }}');
                                var selectedSizeInput = document.getElementById('selected-size-{{ cart_item.cloth.id }}');
                                var addToCartBtn = document.getElementById('add-to-cart-btn-{{ cart_item.cloth.id }}');

                                sizeDropdown.addEventListener('change', function() {
                                    if (sizeDropdown.value !== "") {
                                        addToCartBtn.removeAttribute('disabled');
                                        selectedSizeInput.value = sizeDropdown.value;
                                    } else {
                                        addToCartBtn.setAttribute('disabled', 'disabled');
                                        selectedSizeInput.value = '';
                                    }
                                });

                                if (sizeDropdown.value === "") {
                                    addToCartBtn.setAttribute('disabled', 'disabled');
                                }
                        });
                    </script>
                    <a href="{%  url 'like' pk_cloth=cart_item.cloth.pk %}" class="button-link-likes">
                        <button class="remove-from-favorites-likes">Remove from wishlist</button>
                    </a>
                </div>
            </div>

            {% empty %}
                <button class="cart-order-button">
                    <a href="{% url 'shop' %}" style="{{ 'color:white' }}" id="current-{{ cart_item.cloth.id }}">
                        View catalogue
                    </a>
                </button>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}


