{% extends 'base.html' %}
{% load static %}

{% block title %}Yell Boutique{% endblock %}

{% block aditional_hero %}
<section class="slider_section">
  <div class="slider_container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Welcome To Our <br>
                    Clothes Boutique
                  </h1>
                  <p>
                    Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                  </p>
                  <a href="{% url 'contacts' %}">
                    Contact Us
                  </a>
                </div>
              </div>
              <div class="col-md-5 ">
                <div class="img-box">
                  <img src="{% static 'images/slider-img.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<!-- shop section -->

<section class="shop_section layout_padding">
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Latest Products
    </h2>
  </div>
  <div class="row">
      {% for cloth in last_clothes %}
        <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <a href="">
          <div class="img-box">
            <img src="{{ cloth.photo.url }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
                {{ cloth.name }}
            </h6>
            <h6>
              Price
              <span>
                ${{ cloth.price }}
              </span>
            </h6>
          </div>
          <div class="new">
            <span>
              New
            </span>
          </div>
        </a>
      </div>
    </div>
      {% endfor %}
  </div>
  <div class="btn-box">
    <a href="{% url 'shop' %}">
      View All Products
    </a>
  </div>
</div>
</section>

<!-- end shop section -->

<!-- saving section -->

<section class="saving_section ">
<div class="box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img src="{% static 'images/saving-img.png' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Best Savings on <br>
              new arrivals
            </h2>
          </div>
          <p>
            Qui ex dolore at repellat, quia neque doloribus omnis adipisci, ipsum eos odio fugit ut eveniet blanditiis praesentium totam non nostrum dignissimos nihil eius facere et eaque. Qui, animi obcaecati.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- end saving section -->

<!-- why section -->

<section class="why_section layout_padding">
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Why Shop With Us
    </h2>
  </div>
</div>
</section>

<!-- end why section -->

<!-- gift section -->

<section class="gift_section layout_padding-bottom">
<div class="box ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="img_container">
          <div class="img-box">
            <img src="{% static 'images/gifts.png' %}" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Gifts for your <br>
              loved ones
            </h2>
          </div>
          <p>
            Omnis ex nam laudantium odit illum harum, excepturi accusamus at corrupti, velit blanditiis unde perspiciatis, vitae minus culpa? Beatae at aut consequuntur porro adipisci aliquam eaque iste ducimus expedita accusantium?
          </p>
          <div class="btn-box">
            <a href="{% url 'shop' %}" class="btn1">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- end gift section -->

<!-- client section -->
<section class="client_section layout_padding2">
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Testimonials
    </h2>
  </div>
</div>
<div class="container px-0">
  <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      {% for testimonial in testimonials %}
          <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                      {% if testimonial.user.first_name and testimonial.user.last_name %}
                        {{ testimonial.user.get_full_name }}
                      {% else %}
                        {{ testimonial.user.email }}
                      {% endif %}
                  </h5>
                  <h6>
                      {{ testimonial.date_time }}
                  </h6>
                    <h6 class="stars">
                        {% for _ in "12345" %}
                            <span class="fa fa-star" style="color:
                                    {% if forloop.counter <= testimonial.rating %}
                                        orange{% else %}gray{% endif %}"></span>
                        {% endfor %}
                      {{ testimonial.rating }}
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                  {{ testimonial.text }}
              </p>
                <div class="text-center">
                    {% if testimonial.photo %}
                        <img src="{{ testimonial.photo.url }}" alt="Testimonial Photo" style="display: inline-block; max-width:60vw; max-height: 30vh">
                    {% endif %}
                </div>
                {% if request.user == testimonial.user %}
                        <div class="buttons-position" style="text-align:center">
                            <a href="{% url 'edit testimonial' testimonial.pk %}" class="button-link" title="Edit">
                                <button type="button" style="color: #db4f66; transition: all 0.3s ease; border: 2px solid #db4f66; background-color: white; border-radius: 20px; padding: 12px 24px; margin: 10px;" onmouseover="this.style.backgroundColor='#db4f66'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='#db4f66';">
                                    <i class="fa fa-edit"></i> Edit
                                </button>
                            </a>
                            <a href="{% url 'delete testimonial' testimonial.pk %}" class="button-link" title="Delete">
                                <button type="button" style="color: #db4f66; transition: all 0.3s ease; border: 2px solid #db4f66; background-color: white; border-radius: 20px; padding: 12px 24px; margin: 10px;" onmouseover="this.style.backgroundColor='#db4f66'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='#db4f66';">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </a>
                        </div>
                        {% endif %}
            </div>
      {% empty %}
        <p class="text-center layout_padding2">There are no testimonials yet. Be the first to add one.</p>
          {% if request.user.is_authorized %}
              <div class="btn-box">
                <a href="{% url 'testimonials' %}" class="btn1">
                  Add Now
                </a>
              </div>
          {% else %}
              <div class="btn-box cart-order-button centered text-center">
                <a href="{% url 'login' %}" class="text-center text-white centered">
                  Login and add
                </a>
              </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
</section>

{% endblock %}
